@model ComicsViewer.Web.Models.Comics.ComicsViewModel
@{
    ViewData["Title"] = "Index";
}
<div class="container-fluid">
    <table class="table table-striped">
        <thead>
            <tr>
                <td>Comic name</td>
            </tr>
        </thead>
        <tbody>
            @foreach(var com in Model.AllComics)
            {
                <tr>
                    <td><a href="@Url.Action("Comic", "Comics")/@com.Name">@com.Name</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>
